
.button {
  width: 22em;
  height: 3em;
  border-radius: 1em;
  font-size: 26px;
  font-family: 'Ubuntu', sans-serif;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #c5c5c5,
              -6px -6px 12px #ffffff;
 }
 
 .button::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 1em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #c6feff 0%, #5288fd 100%);
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
 .button:hover::before {
  width: 25em;
 }

 .button2 {
  width: 22em;
  height: 3em;
  border-radius: 1em;
  font-size: 26px;
  font-family: 'Ubuntu', sans-serif;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #c5c5c5,
              -6px -6px 12px #ffffff;
 }
 
 .button2::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 1em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #fff5c6 0%, #fd8552 100%);
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
 .button2:hover::before {
  width: 25em;
 }